title{
  text-align: center;
}

h1 {
  text-align: center;
}

h2{
  font-size: 20px;
}

#first {color: red}

#second {color: blue}

#third {color: rgb(10, 219, 10)}

#big {font-size: 38px;}

#tiny {font-size: 9px;}

#center {text-align: center;}

#bold {font-weight: bold;}

#font {font-family: cursive;}

#orange {
  font-size: 16px;
  font-weight: bold;
  color: orange;
}

.styledFont {color: green}

#styledImage {
  border: solid 8px;
  border-color: rgb(221, 221, 0);
  border-radius: 10px;
}
